footer div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 100px;
    
}
footer div a {
    color: grey;
    
    
}
footer{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
}
footer button {
    width: 100%;

    background: #1d0904;
    cursor: pointer;
    
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5em;
}