footer div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 100px;
    
}
footer div a {
    color: grey;
    text-decoration: none;
    
    
}
footer{
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0px auto;
}
footer button {
    width: 100%;

    
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid black;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5em;
}
footer button:hover{
    box-shadow: inset 0px 0px 0px 29px grey;
    
}
h2{
    margin-top: 40px;
}
lilo{
    
    
    width: 30px;
}
